
<div *ngIf="subbb" class="container" (submit)="tosee()">
  <div class="row justify-content-center mt-6">
    <div class="col-md-6 d-flex justify-content-center flex-column align-items-center">
      <div class="alert alert-primary dummy" role="alert">
        <span>
          <br>
        <img class="tick" src="https://imgs.search.brave.com/qzXWTQUaIcnZthtgyr7axlUoe8re-xGwBGAtoUj4Rkg/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTA3/ODA2NzIzOC9waG90/by90aWNrLW1hcmsu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PXlJZkFuNHVzWUhC/aGdrbEZBSjZ0V2Ff/bVRRTnNMZ1BXMWNZ/U1BrWk1RRHc9" alt="tick symbol">
        </span>
        <br><br>

        <h1>thanks for subscribing !</h1>
        <h6> A conformation email has been sent to lawrence@gmail.com.Please open it and click the button inside to confirm your subscrption</h6>
        <br>
        <div class="text-center"> 
          <button type="submit"  class="btn btn-primary" style="width: 100%;" >dismiss message</button>
        </div>
      </div>
    </div>
  </div>
</div>